<mat-card class="transparent mat-elevation-z8 mx-2">
    <div class="d-flex justify-content-center align-items-center">
        <h1 style="margin-bottom: 0; margin-left: 5px; color: lightgray;">Bilans {{getLabel}}</h1>
        <h1 class="font-green" style="margin-bottom: 0; margin-left: 5px;">W:<span style="color: lightgray;">{{balance.wins}}</span></h1>        
        <h1 class="font-red" style="margin-bottom: 0; margin-left: 5px; ">L:<span style="color: lightgray;">{{balance.losses}}</span></h1>
    </div>
</mat-card>