<mat-card class="transparent shadow mx-2" style="margin-bottom: 7px; min-height: 78px;">
  <div class="d-flex justify-content-center align-items-center text-shadow">
  <img style="max-height: 45px" [src]="rankImage" alt="">
  <h1 class="font-green" style="margin-bottom: 0; margin-left: 10px;  font-family: 'Nunito';">W: {{challange.wins}} </h1>
  <h1 class="font-blue"style="margin-bottom: 0; margin-left: 10px;  font-family: 'Nunito';">D: {{challange.draws}} </h1>
  <h1 class="font-red"style="margin-bottom: 0; margin-left: 10px;  font-family: 'Nunito';">L: {{challange.loses}} </h1></div>
</mat-card>