.transparent {
    background: rgba(0, 0, 0, 0.5) !important
  }

  ::ng-deep .mat-card{ 
      border-radius: 25px !important;
   }

   .font-green {
    color: #5dbb29;
}

.font-red {
    color: #d64242;
}

.font-neutral {
  color: lightgray;
}